mixin graffiti(vars)
  +b.graffiti.section_green
    +e.inner.inner_middle
      +e.H2.title.title
        span Граффити 
        | на башне
      +e.row
        +e.picture
          +e.IMG.pic(src='/images/graffiti.jpg' alt='')
        +e.content
          +e.P.text Значимость этих проблем настолько очевидна, что социально-экономическое развитие способствует подготовке и реализации вывода текущих активов. Также как сложившаяся структура организации влечет за собой процесс внедрения Значимость этих проблем настолько очевидна, что социально-экономическое развитие способствует подготовке и реализации вывода текущих активов. Также как сложившаяся структура организации влечет за собой процесс внедрения  Значимость этих проблем настолько очевидна, что социально-экономическое развитие способствует подготовке и реализации вывода текущих активов. Также как сложившаяся структура организации влечет за собой
          +e.FORM.form
            +b.group
              +e.INPUT.field(type="text" placeholder="ФИО")
            +b.group
              +e.TEXTAREA.field_textarea(placeholder="Комментарий")
            +b.LABEL.file_transparent
              +e.INPUT.field(type="file")
              +e.SVG.icon(width='22' height='22' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M6.602 19.8H6.53a4.917 4.917 0 01-3.48-1.5 4.917 4.917 0 01-1.4-3.52 4.92 4.92 0 011.5-3.48l9.216-8.96 1.15 1.184-9.217 8.96a3.279 3.279 0 00-.998 2.32 3.277 3.277 0 00.933 2.346 3.278 3.278 0 002.32 1c.897.035 1.714-.32 2.347-.934l9.215-8.96c.369-.36.576-.84.584-1.353.007-.515-.186-1-.545-1.37a1.913 1.913 0 00-1.353-.583h-.028c-.504 0-.98.193-1.341.545-.404.392-2.394 2.314-4.237 4.094a4340.656 4340.656 0 00-3.329 3.217.551.551 0 00.767.789l7.099-6.901 1.15 1.183-7.1 6.9a2.202 2.202 0 01-3.11-.043 2.202 2.202 0 01.044-3.11 3188.6 3188.6 0 013.334-3.222 3669.67 3669.67 0 004.232-4.09 3.557 3.557 0 012.543-1.011 3.548 3.548 0 012.512 1.083 3.551 3.551 0 011.012 2.542 3.552 3.552 0 01-1.083 2.513l-9.216 8.96A4.916 4.916 0 016.6 19.8z' fill='#fff')
              +e.P.text_white Прикрепить рисунок
            +e.BUTTON.btn.btn_transparent._white отправить