mixin gallery(vars)
  +b.gallery.section#video
    +e.inner.inner
      +e.box
        +b.slider
          +e.H2.title.title
            span Мастер классы 
            | от сотрудников
          .swiper-container
            .swiper-wrapper
              - for(var i = 0; i < 3; i++) {
                .swiper-slide
                  +b.A.video(href="#" data-fancybox)
                    +e.IMG.pic(src='/images/video-gallery.jpg' alt='')
                    +e.play_slide
                  +e.P.caption Иванова Александра мастер-класс по художественной лепке
                  +e.P.text Задача организации, в особенности же высококачественный прототип будущего проекта играет определяющее значение для существующих финансовых и административных условий. Каждый из нас понимает очевидную вещь: постоянное 
                  +e.A.link(href="#") Узнать больше
              - }
          +b.swiper-button-prev_gray
            svg(width='19' height='30' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M18.525 26.475L7.075 15l11.45-11.475L15 0 0 15l15 15 3.525-3.525z' fill='#F5F5F5')
          +b.swiper-button-next_gray
            svg(width='19' height='30' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M.475 26.475L11.925 15 .475 3.525 4 0l15 15L4 30 .475 26.475z' fill='#F5F5F5')
        +e.BUTTON.btn.btn_green-border.js-open-callback Предложить свой мастер класс
      +b.slider
        +e.H2.title.title
          span Видео интервью 
          | сотрудников
        .swiper-container
          .swiper-wrapper
            - for(var i = 0; i < 3; i++) {
              .swiper-slide
                +b.A.video(href="#" data-fancybox)
                  +e.IMG.pic(src='/images/video-gallery.jpg' alt='')
                  +e.play_slide
                +e.P.caption Иванова Александра мастер-класс по художественной лепке
                +e.P.text Задача организации, в особенности же высококачественный прототип будущего проекта играет определяющее значение для существующих финансовых и административных условий. Каждый из нас понимает очевидную вещь: постоянное 
                +e.A.link(href="#") Узнать больше
            - }
        +b.swiper-button-prev_gray
          svg(width='19' height='30' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M18.525 26.475L7.075 15l11.45-11.475L15 0 0 15l15 15 3.525-3.525z' fill='#F5F5F5')
        +b.swiper-button-next_gray
          svg(width='19' height='30' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M.475 26.475L11.925 15 .475 3.525 4 0l15 15L4 30 .475 26.475z' fill='#F5F5F5')