mixin calendar(vars)
  +b.broadcast.section#broadcast
    +e.inner.inner
      +e.H2.title.title трансляция
      +b.A.video(href="#" data-fancybox)
        +e.IMG.pic(src='/images/broad-video.jpg' alt='')
        +e.play
  +b.calendar.section#calendar
    +e.inner.inner
      +e.H2.title.title
        span календарь 
        | событий
      +e.list
        +e.item_green
          +e.P.time 19:00
          +e.P.date 28. 04. 2021
          +e.P.caption Конкурс видео поздравлений
        +e.item_orange
          +e.P.time 11:00
          +e.P.date 08. 05. 2021
          +e.P.caption Мастер класс по акварельной живопи от Станислава Юдина
        +e.item_green
          +e.P.time 21:00
          +e.P.date 14. 05. 2021
          +e.P.caption Квиз онлайн
        +e.item_orange
          +e.P.time 15:00
          +e.P.date 16. 05. 2021
          +e.P.caption Квиз на тему Кино и музыка
        +e.item_green
          +e.P.time 10:30
          +e.P.date 18. 05. 2021
          +e.P.caption Мастер класс по лепке из полимерной глины от Павловой Натальи
        +e.item_orange
          +e.P.time 10:30
          +e.P.date 20. 05. 2021
          +e.P.caption Конкурс видео поздравлений
        +e.item_green
          +e.P.time 15:00
          +e.P.date 23. 05. 2021
          +e.P.caption Мастер класс по хореографии
        +e.item_orange
          +e.P.time 15:00
          +e.P.date 28. 05. 2021
          +e.P.caption День Рождения преподавателя
      +e.BUTTON.btn.btn_transparent._green Открыть все события