include ../static/pug/_global
<!DOCTYPE html>
html
  +head('Главная')
  body
    +header()
    +banner()
    +vantage()
    +registration()
    +video()
    +footer()
    include ../static/pug/_scripts