include ../static/pug/_global
<!DOCTYPE html>
html
  +head('Главная')
  body
    +header()
    +banner()
    +calendar()
    +videog()
    +quize()
    +gallery()
    +action()
    +graffiti()
    +footer()
    include ../static/pug/_scripts