mixin registration(vars)
  +b.registration
    +e.inner.inner_middle
      +e.H2.title.title Успей зарегистрировать свою команду
      +e.text.text
        p В этом году будет еще более интереснее, полезнее и увлекательные, ведь мы подготовили еще больше заданий, а также добавили секретные задания и финальное испытание.
        p Больше драйва, больше энергии!
        p Успей зарегистрировать свою команду и стать героями уникального марафона - жми кнопку "Регистрация".
      +e.A.btn.btn-register.js-open-modal(href="#registration") Регистрация