include ../../../bemto/bemto
include _head

include ../../modules/header/header
include ../../modules/banner/banner
include ../../modules/vantage/vantage
include ../../modules/registration/registration
include ../../modules/video/video
include ../../modules/team/team
include ../../modules/reg-team/reg-team
include ../../modules/footer/footer
