include ../../../bemto/bemto
include _head

include ../../modules/header/header
include ../../modules/banner/banner
include ../../modules/calendar/calendar
include ../../modules/video-greeting/video-greeting
include ../../modules/video-gallery/video-gallery
include ../../modules/quize/quize
include ../../modules/action/action
include ../../modules/graffiti/graffiti
include ../../modules/graffiti/graffiti
include ../../modules/footer/footer
