+b.modal(data-type="#authorization")
  +e.container
    +e.P.title авторизация
    +e.FORM.action
      +b.group
        +e.INPUT.field(type="text" placeholder="Введите ваше имя")
      +b.group
        +e.INPUT.field(type="text" placeholder="Введите вашу фамилию")
      +b.LABEL.checkbox
        +e.INPUT.hidden(type="checkbox" name="role")
        +e.SPAN.text Я согласен с условиями
          u пользовательского соглашения
      +e.BUTTON.btn.btn-register Войти
      +e.P.sign Регистрация нового участника
        u
          a(href="#registration" class="js-open-modal") здесь

+b.modal(data-type="#registration")
  +e.container
    +e.P.title регистрация
    +e.FORM.action
      +b.group
        +e.INPUT.field(type="text" placeholder="Введите ваше имя")
      +b.group
        +e.INPUT.field(type="text" placeholder="Введите вашу фамилию")
      +b.group
        +e.INPUT.field(type="text" placeholder="Введите ваш город")
      +b.group
        +e.INPUT.field(type="text" placeholder="Введите ваш адрес")
      +b.group
        +e.INPUT.field(type="text" placeholder="Введите адрес офиса")
      +b.group
        +e.INPUT.field(type="email" placeholder="Введите ваш E-mail")
      +b.LABEL.checkbox
        +e.INPUT.hidden(type="checkbox" name="role")
        +e.SPAN.text Я согласен с условиями
          u пользовательского соглашения
      +e.BUTTON.btn.btn-register Регистрация