include _modal
script(src='/libs/jQuery/jquery-3.3.1.js')
script(src='/libs/jQuery-migrate/jquery-migrate-3.0.0.js')
script(src='/libs/fancybox/jquery.fancybox.3.5.7.js')
script(src='/libs/inputmask/jquery.masked.input.js')
script(src='/libs/datepicker/datepicker.min.js')
script(src='/libs/swiper/script.js')
script(src="/js/common.js")