mixin vantage(vars)
  +b.vantage.section
    +e.inner.inner_middle
      +e.H2.title.title_decore Тебя ждут незабываемые несколько недель с заданиями по различным направлениям:
      +e.list
        +e.item
          +e.IMG.pic(src='/icons/icon-dest-1.svg' alt='')
          +e.H3.caption Экология
          +e.P.text Стань частью огромного марафона, который для себя что-то новое, ты станешь частью большой команды и сможешь сделать лучше себя и мир вокруг.
        +e.item
          +e.IMG.pic(src='/icons/icon-dest-2.svg' alt='')
          +e.H3.caption Digital
          +e.P.text Стань частью огромного марафона, который для себя что-то новое, ты станешь частью большой команды и сможешь сделать лучше себя и мир вокруг.
        +e.item
          +e.IMG.pic(src='/icons/icon-dest-3.svg' alt='')
          +e.H3.caption Творчество
          +e.P.text Стань частью огромного марафона, который для себя что-то новое, ты станешь частью большой команды и сможешь сделать лучше себя и мир вокруг.
        +e.item
          +e.IMG.pic(src='/icons/icon-dest-4.svg' alt='')
          +e.H3.caption Волонтерство
          +e.P.text Стань частью огромного марафона, который для себя что-то новое, ты станешь частью большой команды и сможешь сделать лучше себя и мир вокруг.
        +e.item
          +e.IMG.pic(src='/icons/icon-dest-5.svg' alt='')
          +e.H3.caption Спорт
          +e.P.text Стань частью огромного марафона, который для себя что-то новое, ты станешь частью большой команды и сможешь сделать лучше себя и мир вокруг.
        +e.item
          +e.IMG.pic(src='/icons/icon-dest-6.svg' alt='')
          +e.H3.caption Личностый рост
          +e.P.text Стань частью огромного марафона, который для себя что-то новое, ты станешь частью большой команды и сможешь сделать лучше себя и мир вокруг.