mixin banner(vars)
  +b.banner
    +e.inner.inner
      +e.H1.title Привет!
        br
        | Добро пожаловать в марафон
        br
        | "Well Done"!
      +e.P.subtitle Стань частью огромного марафона, который для себя что-то новое, ты станешь частью большой команды и сможешь сделать лучше себя и мир вокруг.
      +e.A.btn.btn-register.js-open-modal(href="#registration") Регистрация