mixin banner(vars)
  +b.banner
    +e.inner.inner
      +e.content
        +e.H1.title
          span Здесь будет
          | сильный заголовок
        +e.P.subtitle Значимость этих проблем настолько очевидна, что социально-экономическое развитие способствует подготовке и реализации вывода текущих активов. Также как сложившаяся структура организации влечет за собой процесс внедрения Также как сложившаяся структура организации влечет за собой процесс внедрения 
        +e.BUTTON.btn.btn-register зарегистрироваться
      +e.video
        +e.video-button
          +e.button-play
          +e.P.button-caption
            span Смотреть
            span видео-приглашение
        +e.IMG.pic(src='/images/video-pic.png' alt='')