mixin footer(vars)
  +b.quest.section_gray
    +e.inner.inner_middle
      +e.H2.title.title
        span Квест
      +e.P.text Задача организации, в особенности же высококачественный прототип будущего проекта играет определяющее значение для существующих финансовых и административных условий. Каждый из нас понимает очевидную вещь: постоянное информационно-пропагандистское обеспечение нашей деятельности играет определяющее значение для экономической целесообразности принимаемых решений. 
      +e.BUTTON.btn.btn_green-border.js-open-quiz начать квест
  +b.FOOTER.footer
    +e.inner.inner
      +e.A.link(href="/")
        +e.IMG.pic(src='/icons/logo.svg' alt='Логотип')
      +b.NAV.nav
        +e.UL.list
          +e.LI.item
            +e.A.link(href="#event") о мероприятии
          +e.LI.item
            +e.A.link(href="#broadcast") трансляция
          +e.LI.item
            +e.A.link(href="#calendar") календарь событий
          +e.LI.item
            +e.A.link(href="#video") видео
      +e.BUTTON.btn.btn-register зарегистрироваться