mixin video(vars)
  +b.broadcast.section
    +e.inner.inner_middle
      +e.H2.title.title_decore Зарядись позитивным настроем, посмотрев интро-ролик о марафоне "Well Done"
      +b.A.video(href='#' data-fancybox='data-fancybox')
        +e.IMG.pic(src='/images/broad-video.jpg' alt='' role='presentation')
        +e.SPAN.play
